# Android
/android/
/ios/
/build/
/.gradle/
/.idea/
/.vscode/
/.settings/
*.iml
*.lock
*.log
*.json
*.keystore
*.jks

# Dart/Pub
/pubspec.lock
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Web
/web/

# macOS
.DS_Store

# Environment variables
.env
.env.*
*.env

# Local IDE files
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Build files
*.apk
*.ipa
*.aab
*.dll
*.exe
*.so
*.o
*.out
*.app
*.dmg
*.msi
*.msix
*.msm
*.msp
*.keystore

# Coverage
/coverage/